In [12]:
import pandas as pd
from pandas_datareader import data

from IPython.display import display

## The Axes of the Panel

In [3]:
companies = ["MSFT", "GOOG", "AAPL", "YHOO", "AMZN"]

p = data.DataReader(name = companies, data_source = "yahoo", start = "2010-01-01", end = "2016-12-31")

p

C:\Users\Admin\anaconda3\envs\base_ml\lib\site-packages\pandas_datareader\base.py:272: SymbolWarning: Failed to read symbol: 'YHOO', replacing with NaN.
  warnings.warn(msg.format(sym), SymbolWarning)

Attributes  Adj Close                                              Close  \
Symbols          MSFT        GOOG       AAPL        AMZN YHOO       MSFT
Date
2010-01-04  23.994564  312.204773   6.562591  133.899994  NaN  30.950001
2010-01-05  24.002319  310.829926   6.573935  134.690002  NaN  30.959999
2010-01-06  23.855013  302.994293   6.469369  132.250000  NaN  30.770000
2010-01-07  23.606922  295.940735   6.457407  130.000000  NaN  30.450001
2010-01-08  23.769743  299.885956   6.500339  133.520004  NaN  30.660000
...               ...         ...        ...         ...  ...        ...
2016-12-23  59.019516  789.909973  27.459557  760.590027  NaN  63.240002
2016-12-27  59.056839  791.549988  27.633949  771.400024  NaN  63.279999
2016-12-28  58.786201  785.049988  27.516117  772.130005  NaN  62.990002
2016-12-29  58.702206  782.789978  27.509048  765.150024  NaN  62.900002
2016-12-30  57.992920  771.820007  27.294590  749.869995  NaN  62.139999

Attributes                                          ...       Open  \
Symbols           GOOG       AAPL        AMZN YHOO  ...       MSFT
Date                                                ...
2010-01-04  312.204773   7.643214  133.899994  NaN  ...  30.620001
2010-01-05  310.829926   7.656429  134.690002  NaN  ...  30.850000
2010-01-06  302.994293   7.534643  132.250000  NaN  ...  30.879999
2010-01-07  295.940735   7.520714  130.000000  NaN  ...  30.629999
2010-01-08  299.885956   7.570714  133.520004  NaN  ...  30.280001
...                ...        ...         ...  ...  ...        ...
2016-12-23  789.909973  29.129999  760.590027  NaN  ...  63.450001
2016-12-27  791.549988  29.315001  771.400024  NaN  ...  63.209999
2016-12-28  785.049988  29.190001  772.130005  NaN  ...  63.400002
2016-12-29  782.789978  29.182501  765.150024  NaN  ...  62.860001
2016-12-30  771.820007  28.955000  749.869995  NaN  ...  62.959999

Attributes                                              Volume              \
Symbols           GOOG       AAPL        AMZN YHOO        MSFT        GOOG
Date
2010-01-04  312.304413   7.622500  136.250000  NaN  38409100.0   3927065.0
2010-01-05  312.418976   7.664286  133.429993  NaN  49749600.0   6031925.0
2010-01-06  311.761444   7.656429  134.600006  NaN  58182400.0   7987226.0
2010-01-07  303.562164   7.562500  132.009995  NaN  50559700.0  12876685.0
2010-01-08  294.894653   7.510714  130.559998  NaN  51197400.0   9484016.0
...                ...        ...         ...  ...         ...         ...
2016-12-23  790.900024  28.897499  764.549988  NaN  12403800.0    623400.0
2016-12-27  790.679993  29.129999  763.400024  NaN  11763200.0    789100.0
2016-12-28  793.700012  29.379999  776.250000  NaN  14653300.0   1153800.0
2016-12-29  783.330017  29.112499  772.400024  NaN  10250600.0    744300.0
2016-12-30  782.750000  29.162500  766.469971  NaN  25579900.0   1770000.0

Attributes
Symbols            AAPL        AMZN YHOO
Date
2010-01-04  493729600.0   7599900.0  NaN
2010-01-05  601904800.0   8851900.0  NaN
2010-01-06  552160000.0   7178800.0  NaN
2010-01-07  477131200.0  11030200.0  NaN
2010-01-08  447610800.0   9830500.0  NaN
...                 ...         ...  ...
2016-12-23   56998000.0   1981600.0  NaN
2016-12-27   73187600.0   2638700.0  NaN
2016-12-28   83623600.0   3301000.0  NaN
2016-12-29   60158000.0   3158300.0  NaN
2016-12-30  122345200.0   4139400.0  NaN

[1762 rows x 30 columns]

In [4]:
p.items

<bound method DataFrame.items of Attributes  Adj Close                                              Close  \
Symbols          MSFT        GOOG       AAPL        AMZN YHOO       MSFT
Date
2010-01-04  23.994564  312.204773   6.562591  133.899994  NaN  30.950001
2010-01-05  24.002319  310.829926   6.573935  134.690002  NaN  30.959999
2010-01-06  23.855013  302.994293   6.469369  132.250000  NaN  30.770000
2010-01-07  23.606922  295.940735   6.457407  130.000000  NaN  30.450001
2010-01-08  23.769743  299.885956   6.500339  133.520004  NaN  30.660000
...               ...         ...        ...         ...  ...        ...
2016-12-23  59.019516  789.909973  27.459557  760.590027  NaN  63.240002
2016-12-27  59.056839  791.549988  27.633949  771.400024  NaN  63.279999
2016-12-28  58.786201  785.049988  27.516117  772.130005  NaN  62.990002
2016-12-29  58.702206  782.789978  27.509048  765.150024  NaN  62.900002
2016-12-30  57.992920  771.820007  27.294590  749.869995  NaN  62.139999

Attributes                                          ...       Open  \
Symbols           GOOG       AAPL        AMZN YHOO  ...       MSFT
Date                                                ...
2010-01-04  312.204773   7.643214  133.899994  NaN  ...  30.620001
2010-01-05  310.829926   7.656429  134.690002  NaN  ...  30.850000
2010-01-06  302.994293   7.534643  132.250000  NaN  ...  30.879999
2010-01-07  295.940735   7.520714  130.000000  NaN  ...  30.629999
2010-01-08  299.885956   7.570714  133.520004  NaN  ...  30.280001
...                ...        ...         ...  ...  ...        ...
2016-12-23  789.909973  29.129999  760.590027  NaN  ...  63.450001
2016-12-27  791.549988  29.315001  771.400024  NaN  ...  63.209999
2016-12-28  785.049988  29.190001  772.130005  NaN  ...  63.400002
2016-12-29  782.789978  29.182501  765.150024  NaN  ...  62.860001
2016-12-30  771.820007  28.955000  749.869995  NaN  ...  62.959999

Attributes                                              Volume              \
Symbols           GOOG       AAPL        AMZN YHOO        MSFT        GOOG
Date
2010-01-04  312.304413   7.622500  136.250000  NaN  38409100.0   3927065.0
2010-01-05  312.418976   7.664286  133.429993  NaN  49749600.0   6031925.0
2010-01-06  311.761444   7.656429  134.600006  NaN  58182400.0   7987226.0
2010-01-07  303.562164   7.562500  132.009995  NaN  50559700.0  12876685.0
2010-01-08  294.894653   7.510714  130.559998  NaN  51197400.0   9484016.0
...                ...        ...         ...  ...         ...         ...
2016-12-23  790.900024  28.897499  764.549988  NaN  12403800.0    623400.0
2016-12-27  790.679993  29.129999  763.400024  NaN  11763200.0    789100.0
2016-12-28  793.700012  29.379999  776.250000  NaN  14653300.0   1153800.0
2016-12-29  783.330017  29.112499  772.400024  NaN  10250600.0    744300.0
2016-12-30  782.750000  29.162500  766.469971  NaN  25579900.0   1770000.0

Attributes
Symbols            AAPL        AMZN YHOO
Date
2010-01-04  493729600.0   7599900.0  NaN
2010-01-05  601904800.0   8851900.0  NaN
2010-01-06  552160000.0   7178800.0  NaN
2010-01-07  477131200.0  11030200.0  NaN
2010-01-08  447610800.0   9830500.0  NaN
...                 ...         ...  ...
2016-12-23   56998000.0   1981600.0  NaN
2016-12-27   73187600.0   2638700.0  NaN
2016-12-28   83623600.0   3301000.0  NaN
2016-12-29   60158000.0   3158300.0  NaN
2016-12-30  122345200.0   4139400.0  NaN

[1762 rows x 30 columns]>

In [9]:
p.axes

[DatetimeIndex(['2010-01-04', '2010-01-05', '2010-01-06', '2010-01-07',
                '2010-01-08', '2010-01-11', '2010-01-12', '2010-01-13',
                '2010-01-14', '2010-01-15',
                ...
                '2016-12-16', '2016-12-19', '2016-12-20', '2016-12-21',
                '2016-12-22', '2016-12-23', '2016-12-27', '2016-12-28',
                '2016-12-29', '2016-12-30'],
               dtype='datetime64[ns]', name='Date', length=1762, freq=None),
 MultiIndex([('Adj Close', 'MSFT'),
             ('Adj Close', 'GOOG'),
             ('Adj Close', 'AAPL'),
             ('Adj Close', 'AMZN'),
             ('Adj Close', 'YHOO'),
             (    'Close', 'MSFT'),
             (    'Close', 'GOOG'),
             (    'Close', 'AAPL'),
             (    'Close', 'AMZN'),
             (    'Close', 'YHOO'),
             (     'High', 'MSFT'),
             (     'High', 'GOOG'),
             (     'High', 'AAPL'),
             (     'High', 'AMZN'),
             (     'High', 'YHOO'),
             (      'Low', 'MSFT'),
             (      'Low', 'GOOG'),
             (      'Low', 'AAPL'),
             (      'Low', 'AMZN'),
             (      'Low', 'YHOO'),
             (     'Open', 'MSFT'),
             (     'Open', 'GOOG'),
             (     'Open', 'AAPL'),
             (     'Open', 'AMZN'),
             (     'Open', 'YHOO'),
             (   'Volume', 'MSFT'),
             (   'Volume', 'GOOG'),
             (   'Volume', 'AAPL'),
             (   'Volume', 'AMZN'),
             (   'Volume', 'YHOO')],
            names=['Attributes', 'Symbols'])]

## Panel Attributes

In [10]:
companies = ["MSFT", "GOOG", "AAPL", "YHOO", "AMZN"]

p = data.DataReader(name = companies, data_source = "yahoo", start = "2010-01-01", end = "2016-12-31")

p

C:\Users\Admin\anaconda3\envs\base_ml\lib\site-packages\pandas_datareader\base.py:272: SymbolWarning: Failed to read symbol: 'YHOO', replacing with NaN.
  warnings.warn(msg.format(sym), SymbolWarning)

Attributes  Adj Close                                              Close  \
Symbols          MSFT        GOOG       AAPL        AMZN YHOO       MSFT
Date
2010-01-04  23.994564  312.204773   6.562591  133.899994  NaN  30.950001
2010-01-05  24.002319  310.829926   6.573935  134.690002  NaN  30.959999
2010-01-06  23.855013  302.994293   6.469369  132.250000  NaN  30.770000
2010-01-07  23.606922  295.940735   6.457407  130.000000  NaN  30.450001
2010-01-08  23.769743  299.885956   6.500339  133.520004  NaN  30.660000
...               ...         ...        ...         ...  ...        ...
2016-12-23  59.019516  789.909973  27.459557  760.590027  NaN  63.240002
2016-12-27  59.056839  791.549988  27.633949  771.400024  NaN  63.279999
2016-12-28  58.786201  785.049988  27.516117  772.130005  NaN  62.990002
2016-12-29  58.702206  782.789978  27.509048  765.150024  NaN  62.900002
2016-12-30  57.992920  771.820007  27.294590  749.869995  NaN  62.139999

Attributes                                          ...       Open  \
Symbols           GOOG       AAPL        AMZN YHOO  ...       MSFT
Date                                                ...
2010-01-04  312.204773   7.643214  133.899994  NaN  ...  30.620001
2010-01-05  310.829926   7.656429  134.690002  NaN  ...  30.850000
2010-01-06  302.994293   7.534643  132.250000  NaN  ...  30.879999
2010-01-07  295.940735   7.520714  130.000000  NaN  ...  30.629999
2010-01-08  299.885956   7.570714  133.520004  NaN  ...  30.280001
...                ...        ...         ...  ...  ...        ...
2016-12-23  789.909973  29.129999  760.590027  NaN  ...  63.450001
2016-12-27  791.549988  29.315001  771.400024  NaN  ...  63.209999
2016-12-28  785.049988  29.190001  772.130005  NaN  ...  63.400002
2016-12-29  782.789978  29.182501  765.150024  NaN  ...  62.860001
2016-12-30  771.820007  28.955000  749.869995  NaN  ...  62.959999

Attributes                                              Volume              \
Symbols           GOOG       AAPL        AMZN YHOO        MSFT        GOOG
Date
2010-01-04  312.304413   7.622500  136.250000  NaN  38409100.0   3927065.0
2010-01-05  312.418976   7.664286  133.429993  NaN  49749600.0   6031925.0
2010-01-06  311.761444   7.656429  134.600006  NaN  58182400.0   7987226.0
2010-01-07  303.562164   7.562500  132.009995  NaN  50559700.0  12876685.0
2010-01-08  294.894653   7.510714  130.559998  NaN  51197400.0   9484016.0
...                ...        ...         ...  ...         ...         ...
2016-12-23  790.900024  28.897499  764.549988  NaN  12403800.0    623400.0
2016-12-27  790.679993  29.129999  763.400024  NaN  11763200.0    789100.0
2016-12-28  793.700012  29.379999  776.250000  NaN  14653300.0   1153800.0
2016-12-29  783.330017  29.112499  772.400024  NaN  10250600.0    744300.0
2016-12-30  782.750000  29.162500  766.469971  NaN  25579900.0   1770000.0

Attributes
Symbols            AAPL        AMZN YHOO
Date
2010-01-04  493729600.0   7599900.0  NaN
2010-01-05  601904800.0   8851900.0  NaN
2010-01-06  552160000.0   7178800.0  NaN
2010-01-07  477131200.0  11030200.0  NaN
2010-01-08  447610800.0   9830500.0  NaN
...                 ...         ...  ...
2016-12-23   56998000.0   1981600.0  NaN
2016-12-27   73187600.0   2638700.0  NaN
2016-12-28   83623600.0   3301000.0  NaN
2016-12-29   60158000.0   3158300.0  NaN
2016-12-30  122345200.0   4139400.0  NaN

[1762 rows x 30 columns]

In [14]:
display(p.axes)
print('\n ----- \n')
display(p.items)

[DatetimeIndex(['2010-01-04', '2010-01-05', '2010-01-06', '2010-01-07',
                '2010-01-08', '2010-01-11', '2010-01-12', '2010-01-13',
                '2010-01-14', '2010-01-15',
                ...
                '2016-12-16', '2016-12-19', '2016-12-20', '2016-12-21',
                '2016-12-22', '2016-12-23', '2016-12-27', '2016-12-28',
                '2016-12-29', '2016-12-30'],
               dtype='datetime64[ns]', name='Date', length=1762, freq=None),
 MultiIndex([('Adj Close', 'MSFT'),
             ('Adj Close', 'GOOG'),
             ('Adj Close', 'AAPL'),
             ('Adj Close', 'AMZN'),
             ('Adj Close', 'YHOO'),
             (    'Close', 'MSFT'),
             (    'Close', 'GOOG'),
             (    'Close', 'AAPL'),
             (    'Close', 'AMZN'),
             (    'Close', 'YHOO'),
             (     'High', 'MSFT'),
             (     'High', 'GOOG'),
             (     'High', 'AAPL'),
             (     'High', 'AMZN'),
             (     'High', 'YHOO'),
             (      'Low', 'MSFT'),
             (      'Low', 'GOOG'),
             (      'Low', 'AAPL'),
             (      'Low', 'AMZN'),
             (      'Low', 'YHOO'),
             (     'Open', 'MSFT'),
             (     'Open', 'GOOG'),
             (     'Open', 'AAPL'),
             (     'Open', 'AMZN'),
             (     'Open', 'YHOO'),
             (   'Volume', 'MSFT'),
             (   'Volume', 'GOOG'),
             (   'Volume', 'AAPL'),
             (   'Volume', 'AMZN'),
             (   'Volume', 'YHOO')],
            names=['Attributes', 'Symbols'])]

 -----

<bound method DataFrame.items of Attributes  Adj Close                                              Close  \
Symbols          MSFT        GOOG       AAPL        AMZN YHOO       MSFT
Date
2010-01-04  23.994564  312.204773   6.562591  133.899994  NaN  30.950001
2010-01-05  24.002319  310.829926   6.573935  134.690002  NaN  30.959999
2010-01-06  23.855013  302.994293   6.469369  132.250000  NaN  30.770000
2010-01-07  23.606922  295.940735   6.457407  130.000000  NaN  30.450001
2010-01-08  23.769743  299.885956   6.500339  133.520004  NaN  30.660000
...               ...         ...        ...         ...  ...        ...
2016-12-23  59.019516  789.909973  27.459557  760.590027  NaN  63.240002
2016-12-27  59.056839  791.549988  27.633949  771.400024  NaN  63.279999
2016-12-28  58.786201  785.049988  27.516117  772.130005  NaN  62.990002
2016-12-29  58.702206  782.789978  27.509048  765.150024  NaN  62.900002
2016-12-30  57.992920  771.820007  27.294590  749.869995  NaN  62.139999

Attributes                                          ...       Open  \
Symbols           GOOG       AAPL        AMZN YHOO  ...       MSFT
Date                                                ...
2010-01-04  312.204773   7.643214  133.899994  NaN  ...  30.620001
2010-01-05  310.829926   7.656429  134.690002  NaN  ...  30.850000
2010-01-06  302.994293   7.534643  132.250000  NaN  ...  30.879999
2010-01-07  295.940735   7.520714  130.000000  NaN  ...  30.629999
2010-01-08  299.885956   7.570714  133.520004  NaN  ...  30.280001
...                ...        ...         ...  ...  ...        ...
2016-12-23  789.909973  29.129999  760.590027  NaN  ...  63.450001
2016-12-27  791.549988  29.315001  771.400024  NaN  ...  63.209999
2016-12-28  785.049988  29.190001  772.130005  NaN  ...  63.400002
2016-12-29  782.789978  29.182501  765.150024  NaN  ...  62.860001
2016-12-30  771.820007  28.955000  749.869995  NaN  ...  62.959999

Attributes                                              Volume              \
Symbols           GOOG       AAPL        AMZN YHOO        MSFT        GOOG
Date
2010-01-04  312.304413   7.622500  136.250000  NaN  38409100.0   3927065.0
2010-01-05  312.418976   7.664286  133.429993  NaN  49749600.0   6031925.0
2010-01-06  311.761444   7.656429  134.600006  NaN  58182400.0   7987226.0
2010-01-07  303.562164   7.562500  132.009995  NaN  50559700.0  12876685.0
2010-01-08  294.894653   7.510714  130.559998  NaN  51197400.0   9484016.0
...                ...        ...         ...  ...         ...         ...
2016-12-23  790.900024  28.897499  764.549988  NaN  12403800.0    623400.0
2016-12-27  790.679993  29.129999  763.400024  NaN  11763200.0    789100.0
2016-12-28  793.700012  29.379999  776.250000  NaN  14653300.0   1153800.0
2016-12-29  783.330017  29.112499  772.400024  NaN  10250600.0    744300.0
2016-12-30  782.750000  29.162500  766.469971  NaN  25579900.0   1770000.0

Attributes
Symbols            AAPL        AMZN YHOO
Date
2010-01-04  493729600.0   7599900.0  NaN
2010-01-05  601904800.0   8851900.0  NaN
2010-01-06  552160000.0   7178800.0  NaN
2010-01-07  477131200.0  11030200.0  NaN
2010-01-08  447610800.0   9830500.0  NaN
...                 ...         ...  ...
2016-12-23   56998000.0   1981600.0  NaN
2016-12-27   73187600.0   2638700.0  NaN
2016-12-28   83623600.0   3301000.0  NaN
2016-12-29   60158000.0   3158300.0  NaN
2016-12-30  122345200.0   4139400.0  NaN

[1762 rows x 30 columns]>

In [36]:
p.ndim

3

In [37]:
p.dtypes

Open      float64
High      float64
Low       float64
Close     float64
Volume    float64
dtype: object

In [38]:
p.shape
# 5 means high column level: [Close, High, Low, Open, ...]
# 1688 means rows
# 5 means lower column level: ["MSFT", "GOOG", "AAPL", "YHOO", ...]

(5, 1688, 5)

In [39]:
p.size

42200

In [40]:
5 * 1688 * 5

42200

## Extracting `DataFrames` from a `Panel` Using Bracket Notation

In [16]:
companies = ["MSFT", "GOOG", "AAPL", "YHOO", "AMZN"]

p = data.DataReader(name = companies, data_source = "yahoo", start = "2010-01-01", end = "2016-12-31")

p

C:\Users\Admin\anaconda3\envs\base_ml\lib\site-packages\pandas_datareader\base.py:272: SymbolWarning: Failed to read symbol: 'YHOO', replacing with NaN.
  warnings.warn(msg.format(sym), SymbolWarning)

Attributes  Adj Close                                              Close  \
Symbols          MSFT        GOOG       AAPL        AMZN YHOO       MSFT
Date
2010-01-04  23.994564  312.204773   6.562591  133.899994  NaN  30.950001
2010-01-05  24.002319  310.829926   6.573935  134.690002  NaN  30.959999
2010-01-06  23.855013  302.994293   6.469369  132.250000  NaN  30.770000
2010-01-07  23.606922  295.940735   6.457407  130.000000  NaN  30.450001
2010-01-08  23.769743  299.885956   6.500339  133.520004  NaN  30.660000
...               ...         ...        ...         ...  ...        ...
2016-12-23  59.019516  789.909973  27.459557  760.590027  NaN  63.240002
2016-12-27  59.056839  791.549988  27.633949  771.400024  NaN  63.279999
2016-12-28  58.786201  785.049988  27.516117  772.130005  NaN  62.990002
2016-12-29  58.702206  782.789978  27.509048  765.150024  NaN  62.900002
2016-12-30  57.992920  771.820007  27.294590  749.869995  NaN  62.139999

Attributes                                          ...       Open  \
Symbols           GOOG       AAPL        AMZN YHOO  ...       MSFT
Date                                                ...
2010-01-04  312.204773   7.643214  133.899994  NaN  ...  30.620001
2010-01-05  310.829926   7.656429  134.690002  NaN  ...  30.850000
2010-01-06  302.994293   7.534643  132.250000  NaN  ...  30.879999
2010-01-07  295.940735   7.520714  130.000000  NaN  ...  30.629999
2010-01-08  299.885956   7.570714  133.520004  NaN  ...  30.280001
...                ...        ...         ...  ...  ...        ...
2016-12-23  789.909973  29.129999  760.590027  NaN  ...  63.450001
2016-12-27  791.549988  29.315001  771.400024  NaN  ...  63.209999
2016-12-28  785.049988  29.190001  772.130005  NaN  ...  63.400002
2016-12-29  782.789978  29.182501  765.150024  NaN  ...  62.860001
2016-12-30  771.820007  28.955000  749.869995  NaN  ...  62.959999

Attributes                                              Volume              \
Symbols           GOOG       AAPL        AMZN YHOO        MSFT        GOOG
Date
2010-01-04  312.304413   7.622500  136.250000  NaN  38409100.0   3927065.0
2010-01-05  312.418976   7.664286  133.429993  NaN  49749600.0   6031925.0
2010-01-06  311.761444   7.656429  134.600006  NaN  58182400.0   7987226.0
2010-01-07  303.562164   7.562500  132.009995  NaN  50559700.0  12876685.0
2010-01-08  294.894653   7.510714  130.559998  NaN  51197400.0   9484016.0
...                ...        ...         ...  ...         ...         ...
2016-12-23  790.900024  28.897499  764.549988  NaN  12403800.0    623400.0
2016-12-27  790.679993  29.129999  763.400024  NaN  11763200.0    789100.0
2016-12-28  793.700012  29.379999  776.250000  NaN  14653300.0   1153800.0
2016-12-29  783.330017  29.112499  772.400024  NaN  10250600.0    744300.0
2016-12-30  782.750000  29.162500  766.469971  NaN  25579900.0   1770000.0

Attributes
Symbols            AAPL        AMZN YHOO
Date
2010-01-04  493729600.0   7599900.0  NaN
2010-01-05  601904800.0   8851900.0  NaN
2010-01-06  552160000.0   7178800.0  NaN
2010-01-07  477131200.0  11030200.0  NaN
2010-01-08  447610800.0   9830500.0  NaN
...                 ...         ...  ...
2016-12-23   56998000.0   1981600.0  NaN
2016-12-27   73187600.0   2638700.0  NaN
2016-12-28   83623600.0   3301000.0  NaN
2016-12-29   60158000.0   3158300.0  NaN
2016-12-30  122345200.0   4139400.0  NaN

[1762 rows x 30 columns]

In [17]:
p.items

<bound method DataFrame.items of Attributes  Adj Close                                              Close  \
Symbols          MSFT        GOOG       AAPL        AMZN YHOO       MSFT
Date
2010-01-04  23.994564  312.204773   6.562591  133.899994  NaN  30.950001
2010-01-05  24.002319  310.829926   6.573935  134.690002  NaN  30.959999
2010-01-06  23.855013  302.994293   6.469369  132.250000  NaN  30.770000
2010-01-07  23.606922  295.940735   6.457407  130.000000  NaN  30.450001
2010-01-08  23.769743  299.885956   6.500339  133.520004  NaN  30.660000
...               ...         ...        ...         ...  ...        ...
2016-12-23  59.019516  789.909973  27.459557  760.590027  NaN  63.240002
2016-12-27  59.056839  791.549988  27.633949  771.400024  NaN  63.279999
2016-12-28  58.786201  785.049988  27.516117  772.130005  NaN  62.990002
2016-12-29  58.702206  782.789978  27.509048  765.150024  NaN  62.900002
2016-12-30  57.992920  771.820007  27.294590  749.869995  NaN  62.139999

Attributes                                          ...       Open  \
Symbols           GOOG       AAPL        AMZN YHOO  ...       MSFT
Date                                                ...
2010-01-04  312.204773   7.643214  133.899994  NaN  ...  30.620001
2010-01-05  310.829926   7.656429  134.690002  NaN  ...  30.850000
2010-01-06  302.994293   7.534643  132.250000  NaN  ...  30.879999
2010-01-07  295.940735   7.520714  130.000000  NaN  ...  30.629999
2010-01-08  299.885956   7.570714  133.520004  NaN  ...  30.280001
...                ...        ...         ...  ...  ...        ...
2016-12-23  789.909973  29.129999  760.590027  NaN  ...  63.450001
2016-12-27  791.549988  29.315001  771.400024  NaN  ...  63.209999
2016-12-28  785.049988  29.190001  772.130005  NaN  ...  63.400002
2016-12-29  782.789978  29.182501  765.150024  NaN  ...  62.860001
2016-12-30  771.820007  28.955000  749.869995  NaN  ...  62.959999

Attributes                                              Volume              \
Symbols           GOOG       AAPL        AMZN YHOO        MSFT        GOOG
Date
2010-01-04  312.304413   7.622500  136.250000  NaN  38409100.0   3927065.0
2010-01-05  312.418976   7.664286  133.429993  NaN  49749600.0   6031925.0
2010-01-06  311.761444   7.656429  134.600006  NaN  58182400.0   7987226.0
2010-01-07  303.562164   7.562500  132.009995  NaN  50559700.0  12876685.0
2010-01-08  294.894653   7.510714  130.559998  NaN  51197400.0   9484016.0
...                ...        ...         ...  ...         ...         ...
2016-12-23  790.900024  28.897499  764.549988  NaN  12403800.0    623400.0
2016-12-27  790.679993  29.129999  763.400024  NaN  11763200.0    789100.0
2016-12-28  793.700012  29.379999  776.250000  NaN  14653300.0   1153800.0
2016-12-29  783.330017  29.112499  772.400024  NaN  10250600.0    744300.0
2016-12-30  782.750000  29.162500  766.469971  NaN  25579900.0   1770000.0

Attributes
Symbols            AAPL        AMZN YHOO
Date
2010-01-04  493729600.0   7599900.0  NaN
2010-01-05  601904800.0   8851900.0  NaN
2010-01-06  552160000.0   7178800.0  NaN
2010-01-07  477131200.0  11030200.0  NaN
2010-01-08  447610800.0   9830500.0  NaN
...                 ...         ...  ...
2016-12-23   56998000.0   1981600.0  NaN
2016-12-27   73187600.0   2638700.0  NaN
2016-12-28   83623600.0   3301000.0  NaN
2016-12-29   60158000.0   3158300.0  NaN
2016-12-30  122345200.0   4139400.0  NaN

[1762 rows x 30 columns]>

In [18]:
p["Volume"]

Symbols           MSFT        GOOG         AAPL        AMZN  YHOO
Date
2010-01-04  38409100.0   3927065.0  493729600.0   7599900.0   NaN
2010-01-05  49749600.0   6031925.0  601904800.0   8851900.0   NaN
2010-01-06  58182400.0   7987226.0  552160000.0   7178800.0   NaN
2010-01-07  50559700.0  12876685.0  477131200.0  11030200.0   NaN
2010-01-08  51197400.0   9484016.0  447610800.0   9830500.0   NaN
...                ...         ...          ...         ...   ...
2016-12-23  12403800.0    623400.0   56998000.0   1981600.0   NaN
2016-12-27  11763200.0    789100.0   73187600.0   2638700.0   NaN
2016-12-28  14653300.0   1153800.0   83623600.0   3301000.0   NaN
2016-12-29  10250600.0    744300.0   60158000.0   3158300.0   NaN
2016-12-30  25579900.0   1770000.0  122345200.0   4139400.0   NaN

[1762 rows x 5 columns]

## Extracting with the `.loc[]`, `.iloc[]`, and `.ix[]` Methods

In [19]:
companies = ["MSFT", "GOOG", "AAPL", "YHOO", "AMZN"]

p = data.DataReader(name = companies, data_source = "yahoo", start = "2010-01-01", end = "2016-12-31")

p

C:\Users\Admin\anaconda3\envs\base_ml\lib\site-packages\pandas_datareader\base.py:272: SymbolWarning: Failed to read symbol: 'YHOO', replacing with NaN.
  warnings.warn(msg.format(sym), SymbolWarning)

Attributes  Adj Close                                              Close  \
Symbols          MSFT        GOOG       AAPL        AMZN YHOO       MSFT
Date
2010-01-04  23.994564  312.204773   6.562591  133.899994  NaN  30.950001
2010-01-05  24.002319  310.829926   6.573935  134.690002  NaN  30.959999
2010-01-06  23.855013  302.994293   6.469369  132.250000  NaN  30.770000
2010-01-07  23.606922  295.940735   6.457407  130.000000  NaN  30.450001
2010-01-08  23.769743  299.885956   6.500339  133.520004  NaN  30.660000
...               ...         ...        ...         ...  ...        ...
2016-12-23  59.019516  789.909973  27.459557  760.590027  NaN  63.240002
2016-12-27  59.056839  791.549988  27.633949  771.400024  NaN  63.279999
2016-12-28  58.786201  785.049988  27.516117  772.130005  NaN  62.990002
2016-12-29  58.702206  782.789978  27.509048  765.150024  NaN  62.900002
2016-12-30  57.992920  771.820007  27.294590  749.869995  NaN  62.139999

Attributes                                          ...       Open  \
Symbols           GOOG       AAPL        AMZN YHOO  ...       MSFT
Date                                                ...
2010-01-04  312.204773   7.643214  133.899994  NaN  ...  30.620001
2010-01-05  310.829926   7.656429  134.690002  NaN  ...  30.850000
2010-01-06  302.994293   7.534643  132.250000  NaN  ...  30.879999
2010-01-07  295.940735   7.520714  130.000000  NaN  ...  30.629999
2010-01-08  299.885956   7.570714  133.520004  NaN  ...  30.280001
...                ...        ...         ...  ...  ...        ...
2016-12-23  789.909973  29.129999  760.590027  NaN  ...  63.450001
2016-12-27  791.549988  29.315001  771.400024  NaN  ...  63.209999
2016-12-28  785.049988  29.190001  772.130005  NaN  ...  63.400002
2016-12-29  782.789978  29.182501  765.150024  NaN  ...  62.860001
2016-12-30  771.820007  28.955000  749.869995  NaN  ...  62.959999

Attributes                                              Volume              \
Symbols           GOOG       AAPL        AMZN YHOO        MSFT        GOOG
Date
2010-01-04  312.304413   7.622500  136.250000  NaN  38409100.0   3927065.0
2010-01-05  312.418976   7.664286  133.429993  NaN  49749600.0   6031925.0
2010-01-06  311.761444   7.656429  134.600006  NaN  58182400.0   7987226.0
2010-01-07  303.562164   7.562500  132.009995  NaN  50559700.0  12876685.0
2010-01-08  294.894653   7.510714  130.559998  NaN  51197400.0   9484016.0
...                ...        ...         ...  ...         ...         ...
2016-12-23  790.900024  28.897499  764.549988  NaN  12403800.0    623400.0
2016-12-27  790.679993  29.129999  763.400024  NaN  11763200.0    789100.0
2016-12-28  793.700012  29.379999  776.250000  NaN  14653300.0   1153800.0
2016-12-29  783.330017  29.112499  772.400024  NaN  10250600.0    744300.0
2016-12-30  782.750000  29.162500  766.469971  NaN  25579900.0   1770000.0

Attributes
Symbols            AAPL        AMZN YHOO
Date
2010-01-04  493729600.0   7599900.0  NaN
2010-01-05  601904800.0   8851900.0  NaN
2010-01-06  552160000.0   7178800.0  NaN
2010-01-07  477131200.0  11030200.0  NaN
2010-01-08  447610800.0   9830500.0  NaN
...                 ...         ...  ...
2016-12-23   56998000.0   1981600.0  NaN
2016-12-27   73187600.0   2638700.0  NaN
2016-12-28   83623600.0   3301000.0  NaN
2016-12-29   60158000.0   3158300.0  NaN
2016-12-30  122345200.0   4139400.0  NaN

[1762 rows x 30 columns]

In [20]:
p.items

<bound method DataFrame.items of Attributes  Adj Close                                              Close  \
Symbols          MSFT        GOOG       AAPL        AMZN YHOO       MSFT
Date
2010-01-04  23.994564  312.204773   6.562591  133.899994  NaN  30.950001
2010-01-05  24.002319  310.829926   6.573935  134.690002  NaN  30.959999
2010-01-06  23.855013  302.994293   6.469369  132.250000  NaN  30.770000
2010-01-07  23.606922  295.940735   6.457407  130.000000  NaN  30.450001
2010-01-08  23.769743  299.885956   6.500339  133.520004  NaN  30.660000
...               ...         ...        ...         ...  ...        ...
2016-12-23  59.019516  789.909973  27.459557  760.590027  NaN  63.240002
2016-12-27  59.056839  791.549988  27.633949  771.400024  NaN  63.279999
2016-12-28  58.786201  785.049988  27.516117  772.130005  NaN  62.990002
2016-12-29  58.702206  782.789978  27.509048  765.150024  NaN  62.900002
2016-12-30  57.992920  771.820007  27.294590  749.869995  NaN  62.139999

Attributes                                          ...       Open  \
Symbols           GOOG       AAPL        AMZN YHOO  ...       MSFT
Date                                                ...
2010-01-04  312.204773   7.643214  133.899994  NaN  ...  30.620001
2010-01-05  310.829926   7.656429  134.690002  NaN  ...  30.850000
2010-01-06  302.994293   7.534643  132.250000  NaN  ...  30.879999
2010-01-07  295.940735   7.520714  130.000000  NaN  ...  30.629999
2010-01-08  299.885956   7.570714  133.520004  NaN  ...  30.280001
...                ...        ...         ...  ...  ...        ...
2016-12-23  789.909973  29.129999  760.590027  NaN  ...  63.450001
2016-12-27  791.549988  29.315001  771.400024  NaN  ...  63.209999
2016-12-28  785.049988  29.190001  772.130005  NaN  ...  63.400002
2016-12-29  782.789978  29.182501  765.150024  NaN  ...  62.860001
2016-12-30  771.820007  28.955000  749.869995  NaN  ...  62.959999

Attributes                                              Volume              \
Symbols           GOOG       AAPL        AMZN YHOO        MSFT        GOOG
Date
2010-01-04  312.304413   7.622500  136.250000  NaN  38409100.0   3927065.0
2010-01-05  312.418976   7.664286  133.429993  NaN  49749600.0   6031925.0
2010-01-06  311.761444   7.656429  134.600006  NaN  58182400.0   7987226.0
2010-01-07  303.562164   7.562500  132.009995  NaN  50559700.0  12876685.0
2010-01-08  294.894653   7.510714  130.559998  NaN  51197400.0   9484016.0
...                ...        ...         ...  ...         ...         ...
2016-12-23  790.900024  28.897499  764.549988  NaN  12403800.0    623400.0
2016-12-27  790.679993  29.129999  763.400024  NaN  11763200.0    789100.0
2016-12-28  793.700012  29.379999  776.250000  NaN  14653300.0   1153800.0
2016-12-29  783.330017  29.112499  772.400024  NaN  10250600.0    744300.0
2016-12-30  782.750000  29.162500  766.469971  NaN  25579900.0   1770000.0

Attributes
Symbols            AAPL        AMZN YHOO
Date
2010-01-04  493729600.0   7599900.0  NaN
2010-01-05  601904800.0   8851900.0  NaN
2010-01-06  552160000.0   7178800.0  NaN
2010-01-07  477131200.0  11030200.0  NaN
2010-01-08  447610800.0   9830500.0  NaN
...                 ...         ...  ...
2016-12-23   56998000.0   1981600.0  NaN
2016-12-27   73187600.0   2638700.0  NaN
2016-12-28   83623600.0   3301000.0  NaN
2016-12-29   60158000.0   3158300.0  NaN
2016-12-30  122345200.0   4139400.0  NaN

[1762 rows x 30 columns]>

In [36]:
p["Volume", 'AAPL']

Date
2010-01-04    493729600.0
2010-01-05    601904800.0
2010-01-06    552160000.0
2010-01-07    477131200.0
2010-01-08    447610800.0
                 ...
2016-12-23     56998000.0
2016-12-27     73187600.0
2016-12-28     83623600.0
2016-12-29     60158000.0
2016-12-30    122345200.0
Name: (Volume, AAPL), Length: 1762, dtype: float64

In [42]:
p.iloc[3]

Attributes  Symbols
Adj Close   MSFT       2.360692e+01
            GOOG       2.959407e+02
            AAPL       6.457407e+00
            AMZN       1.300000e+02
            YHOO                NaN
Close       MSFT       3.045000e+01
            GOOG       2.959407e+02
            AAPL       7.520714e+00
            AMZN       1.300000e+02
            YHOO                NaN
High        MSFT       3.070000e+01
            GOOG       3.038611e+02
            AAPL       7.571429e+00
            AMZN       1.323200e+02
            YHOO                NaN
Low         MSFT       3.019000e+01
            GOOG       2.952184e+02
            AAPL       7.466071e+00
            AMZN       1.288000e+02
            YHOO                NaN
Open        MSFT       3.063000e+01
            GOOG       3.035622e+02
            AAPL       7.562500e+00
            AMZN       1.320100e+02
            YHOO                NaN
Volume      MSFT       5.055970e+07
            GOOG       1.287668e+07
            AAPL       4.771312e+08
            AMZN       1.103020e+07
            YHOO                NaN
Name: 2010-01-07 00:00:00, dtype: float64

In [58]:
(p['High']).iloc[500][3]

178.58999633789062

## Transpose a `Panel` with the `.transpose()` Method

In [66]:
companies = ["MSFT", "GOOG", "AAPL", "YHOO", "AMZN"]

p = data.DataReader(name = companies, data_source = "yahoo", start = "2010-01-01", end = "2016-12-31")

p

C:\Users\Admin\anaconda3\envs\base_ml\lib\site-packages\pandas_datareader\base.py:272: SymbolWarning: Failed to read symbol: 'YHOO', replacing with NaN.
  warnings.warn(msg.format(sym), SymbolWarning)

Attributes  Adj Close                                              Close  \
Symbols          MSFT        GOOG       AAPL        AMZN YHOO       MSFT
Date
2010-01-04  23.994564  312.204773   6.562591  133.899994  NaN  30.950001
2010-01-05  24.002319  310.829926   6.573935  134.690002  NaN  30.959999
2010-01-06  23.855013  302.994293   6.469369  132.250000  NaN  30.770000
2010-01-07  23.606922  295.940735   6.457407  130.000000  NaN  30.450001
2010-01-08  23.769743  299.885956   6.500339  133.520004  NaN  30.660000
...               ...         ...        ...         ...  ...        ...
2016-12-23  59.019516  789.909973  27.459557  760.590027  NaN  63.240002
2016-12-27  59.056839  791.549988  27.633949  771.400024  NaN  63.279999
2016-12-28  58.786201  785.049988  27.516117  772.130005  NaN  62.990002
2016-12-29  58.702206  782.789978  27.509048  765.150024  NaN  62.900002
2016-12-30  57.992920  771.820007  27.294590  749.869995  NaN  62.139999

Attributes                                          ...       Open  \
Symbols           GOOG       AAPL        AMZN YHOO  ...       MSFT
Date                                                ...
2010-01-04  312.204773   7.643214  133.899994  NaN  ...  30.620001
2010-01-05  310.829926   7.656429  134.690002  NaN  ...  30.850000
2010-01-06  302.994293   7.534643  132.250000  NaN  ...  30.879999
2010-01-07  295.940735   7.520714  130.000000  NaN  ...  30.629999
2010-01-08  299.885956   7.570714  133.520004  NaN  ...  30.280001
...                ...        ...         ...  ...  ...        ...
2016-12-23  789.909973  29.129999  760.590027  NaN  ...  63.450001
2016-12-27  791.549988  29.315001  771.400024  NaN  ...  63.209999
2016-12-28  785.049988  29.190001  772.130005  NaN  ...  63.400002
2016-12-29  782.789978  29.182501  765.150024  NaN  ...  62.860001
2016-12-30  771.820007  28.955000  749.869995  NaN  ...  62.959999

Attributes                                              Volume              \
Symbols           GOOG       AAPL        AMZN YHOO        MSFT        GOOG
Date
2010-01-04  312.304413   7.622500  136.250000  NaN  38409100.0   3927065.0
2010-01-05  312.418976   7.664286  133.429993  NaN  49749600.0   6031925.0
2010-01-06  311.761444   7.656429  134.600006  NaN  58182400.0   7987226.0
2010-01-07  303.562164   7.562500  132.009995  NaN  50559700.0  12876685.0
2010-01-08  294.894653   7.510714  130.559998  NaN  51197400.0   9484016.0
...                ...        ...         ...  ...         ...         ...
2016-12-23  790.900024  28.897499  764.549988  NaN  12403800.0    623400.0
2016-12-27  790.679993  29.129999  763.400024  NaN  11763200.0    789100.0
2016-12-28  793.700012  29.379999  776.250000  NaN  14653300.0   1153800.0
2016-12-29  783.330017  29.112499  772.400024  NaN  10250600.0    744300.0
2016-12-30  782.750000  29.162500  766.469971  NaN  25579900.0   1770000.0

Attributes
Symbols            AAPL        AMZN YHOO
Date
2010-01-04  493729600.0   7599900.0  NaN
2010-01-05  601904800.0   8851900.0  NaN
2010-01-06  552160000.0   7178800.0  NaN
2010-01-07  477131200.0  11030200.0  NaN
2010-01-08  447610800.0   9830500.0  NaN
...                 ...         ...  ...
2016-12-23   56998000.0   1981600.0  NaN
2016-12-27   73187600.0   2638700.0  NaN
2016-12-28   83623600.0   3301000.0  NaN
2016-12-29   60158000.0   3158300.0  NaN
2016-12-30  122345200.0   4139400.0  NaN

[1762 rows x 30 columns]

In [67]:
p.axes

[DatetimeIndex(['2010-01-04', '2010-01-05', '2010-01-06', '2010-01-07',
                '2010-01-08', '2010-01-11', '2010-01-12', '2010-01-13',
                '2010-01-14', '2010-01-15',
                ...
                '2016-12-16', '2016-12-19', '2016-12-20', '2016-12-21',
                '2016-12-22', '2016-12-23', '2016-12-27', '2016-12-28',
                '2016-12-29', '2016-12-30'],
               dtype='datetime64[ns]', name='Date', length=1762, freq=None),
 MultiIndex([('Adj Close', 'MSFT'),
             ('Adj Close', 'GOOG'),
             ('Adj Close', 'AAPL'),
             ('Adj Close', 'AMZN'),
             ('Adj Close', 'YHOO'),
             (    'Close', 'MSFT'),
             (    'Close', 'GOOG'),
             (    'Close', 'AAPL'),
             (    'Close', 'AMZN'),
             (    'Close', 'YHOO'),
             (     'High', 'MSFT'),
             (     'High', 'GOOG'),
             (     'High', 'AAPL'),
             (     'High', 'AMZN'),
             (     'High', 'YHOO'),
             (      'Low', 'MSFT'),
             (      'Low', 'GOOG'),
             (      'Low', 'AAPL'),
             (      'Low', 'AMZN'),
             (      'Low', 'YHOO'),
             (     'Open', 'MSFT'),
             (     'Open', 'GOOG'),
             (     'Open', 'AAPL'),
             (     'Open', 'AMZN'),
             (     'Open', 'YHOO'),
             (   'Volume', 'MSFT'),
             (   'Volume', 'GOOG'),
             (   'Volume', 'AAPL'),
             (   'Volume', 'AMZN'),
             (   'Volume', 'YHOO')],
            names=['Attributes', 'Symbols'])]

In [73]:
p2 = p.T
p2

Date                  2010-01-04    2010-01-05    2010-01-06    2010-01-07  \
Attributes Symbols
Adj Close  MSFT     2.399456e+01  2.400232e+01  2.385501e+01  2.360692e+01
           GOOG     3.122048e+02  3.108299e+02  3.029943e+02  2.959407e+02
           AAPL     6.562591e+00  6.573935e+00  6.469369e+00  6.457407e+00
           AMZN     1.339000e+02  1.346900e+02  1.322500e+02  1.300000e+02
           YHOO              NaN           NaN           NaN           NaN
Close      MSFT     3.095000e+01  3.096000e+01  3.077000e+01  3.045000e+01
           GOOG     3.122048e+02  3.108299e+02  3.029943e+02  2.959407e+02
           AAPL     7.643214e+00  7.656429e+00  7.534643e+00  7.520714e+00
           AMZN     1.339000e+02  1.346900e+02  1.322500e+02  1.300000e+02
           YHOO              NaN           NaN           NaN           NaN
High       MSFT     3.110000e+01  3.110000e+01  3.108000e+01  3.070000e+01
           GOOG     3.135796e+02  3.127477e+02  3.117614e+02  3.038611e+02
           AAPL     7.660714e+00  7.699643e+00  7.686786e+00  7.571429e+00
           AMZN     1.366100e+02  1.354800e+02  1.347300e+02  1.323200e+02
           YHOO              NaN           NaN           NaN           NaN
Low        MSFT     3.059000e+01  3.064000e+01  3.052000e+01  3.019000e+01
           GOOG     3.109545e+02  3.096095e+02  3.020479e+02  2.952184e+02
           AAPL     7.585000e+00  7.616071e+00  7.526786e+00  7.466071e+00
           AMZN     1.331400e+02  1.318100e+02  1.316500e+02  1.288000e+02
           YHOO              NaN           NaN           NaN           NaN
Open       MSFT     3.062000e+01  3.085000e+01  3.088000e+01  3.063000e+01
           GOOG     3.123044e+02  3.124190e+02  3.117614e+02  3.035622e+02
           AAPL     7.622500e+00  7.664286e+00  7.656429e+00  7.562500e+00
           AMZN     1.362500e+02  1.334300e+02  1.346000e+02  1.320100e+02
           YHOO              NaN           NaN           NaN           NaN
Volume     MSFT     3.840910e+07  4.974960e+07  5.818240e+07  5.055970e+07
           GOOG     3.927065e+06  6.031925e+06  7.987226e+06  1.287668e+07
           AAPL     4.937296e+08  6.019048e+08  5.521600e+08  4.771312e+08
           AMZN     7.599900e+06  8.851900e+06  7.178800e+06  1.103020e+07
           YHOO              NaN           NaN           NaN           NaN

Date                  2010-01-08    2010-01-11    2010-01-12    2010-01-13  \
Attributes Symbols
Adj Close  MSFT     2.376974e+01  2.346739e+01  2.331233e+01  2.352941e+01
           GOOG     2.998860e+02  2.994326e+02  2.941375e+02  2.924488e+02
           AAPL     6.500339e+00  6.442997e+00  6.369709e+00  6.459555e+00
           AMZN     1.335200e+02  1.303100e+02  1.273500e+02  1.291100e+02
           YHOO              NaN           NaN           NaN           NaN
Close      MSFT     3.066000e+01  3.027000e+01  3.007000e+01  3.035000e+01
           GOOG     2.998860e+02  2.994326e+02  2.941375e+02  2.924488e+02
           AAPL     7.570714e+00  7.503929e+00  7.418571e+00  7.523214e+00
           AMZN     1.335200e+02  1.303100e+02  1.273500e+02  1.291100e+02
           YHOO              NaN           NaN           NaN           NaN
High       MSFT     3.088000e+01  3.076000e+01  3.040000e+01  3.052000e+01
           GOOG     3.004987e+02  3.011014e+02  2.979632e+02  2.930914e+02
           AAPL     7.571429e+00  7.607143e+00  7.491786e+00  7.533214e+00
           AMZN     1.336800e+02  1.328000e+02  1.298200e+02  1.297100e+02
           YHOO              NaN           NaN           NaN           NaN
Low        MSFT     3.024000e+01  3.012000e+01  2.991000e+01  3.001000e+01
           GOOG     2.934550e+02  2.959109e+02  2.929021e+02  2.858784e+02
           AAPL     7.466429e+00  7.444643e+00  7.372143e+00  7.289286e+00
           AMZN     1.290300e+02  1.292100e+02  1.265500e+02  1.257500e+02
           YHOO              NaN           NaN           NaN           NaN
Open       MSFT     3.028000e+01  3.071000e+01  3.015000e+01  3.026000e+01
           GOOG     2.948947e+02  3.011014e+02  2.977091e+02  2.871686e+02
           AAPL     7.510714e+00  7.600000e+00  7.471071e+00  7.423929e+00
           AMZN     1.305600e+02  1.326200e+02  1.289900e+02  1.279000e+02
           YHOO              NaN           NaN           NaN           NaN
Volume     MSFT     5.119740e+07  6.875470e+07  6.591210e+07  5.186350e+07
           GOOG     9.484016e+06  1.447987e+07  9.742983e+06  1.304190e+07
           AAPL     4.476108e+08  4.622296e+08  5.944596e+08  6.058920e+08
           AMZN     9.830500e+06  8.779400e+06  9.096300e+06  1.072320e+07
           YHOO              NaN           NaN           NaN           NaN

Date                  2010-01-14    2010-01-15  ...    2016-12-16  \
Attributes Symbols                              ...
Adj Close  MSFT     2.400232e+01  2.392479e+01  ...  5.814224e+01
           GOOG     2.938237e+02  2.889171e+02  ...  7.908000e+02
           AAPL     6.422143e+00  6.314816e+00  ...  2.732994e+01
           AMZN     1.273500e+02  1.271400e+02  ...  7.577700e+02
           YHOO              NaN           NaN  ...           NaN
Close      MSFT     3.096000e+01  3.086000e+01  ...  6.230000e+01
           GOOG     2.938237e+02  2.889171e+02  ...  7.908000e+02
           AAPL     7.479643e+00  7.354643e+00  ...  2.899250e+01
           AMZN     1.273500e+02  1.271400e+02  ...  7.577700e+02
           YHOO              NaN           NaN  ...           NaN
High       MSFT     3.110000e+01  3.124000e+01  ...  6.295000e+01
           GOOG     2.959906e+02  2.956718e+02  ...  8.008560e+02
           AAPL     7.516429e+00  7.557143e+00  ...  2.912500e+01
           AMZN     1.303800e+02  1.296500e+02  ...  7.651300e+02
           YHOO              NaN           NaN  ...           NaN
Low        MSFT     3.026000e+01  3.071000e+01  ...  6.212000e+01
           GOOG     2.903168e+02  2.879407e+02  ...  7.902900e+02
           AAPL     7.465000e+00  7.352500e+00  ...  2.891250e+01
           AMZN     1.264000e+02  1.270600e+02  ...  7.540000e+02
           YHOO              NaN           NaN  ...           NaN
Open       MSFT     3.031000e+01  3.108000e+01  ...  6.295000e+01
           GOOG     2.908598e+02  2.955622e+02  ...  8.004000e+02
           AAPL     7.503929e+00  7.533214e+00  ...  2.911750e+01
           AMZN     1.291400e+02  1.291800e+02  ...  7.650000e+02
           YHOO              NaN           NaN  ...           NaN
Volume     MSFT     6.322810e+07  7.991320e+07  ...  4.245310e+07
           GOOG     8.511986e+06  1.090974e+07  ...  2.443800e+06
           AAPL     4.328940e+08  5.940676e+08  ...  1.774044e+08
           AMZN     9.774900e+06  1.537650e+07  ...  4.848200e+06
           YHOO              NaN           NaN  ...           NaN

Date                  2016-12-19    2016-12-20    2016-12-21    2016-12-22  \
Attributes Symbols
Adj Close  MSFT     5.937415e+01  5.929950e+01  5.929950e+01  5.930884e+01
           GOOG     7.942000e+02  7.964200e+02  7.945600e+02  7.912600e+02
           AAPL     2.748783e+01  2.756089e+01  2.758682e+01  2.740535e+01
           AMZN     7.660000e+02  7.712200e+02  7.706000e+02  7.663400e+02
           YHOO              NaN           NaN           NaN           NaN
Close      MSFT     6.362000e+01  6.354000e+01  6.354000e+01  6.355000e+01
           GOOG     7.942000e+02  7.964200e+02  7.945600e+02  7.912600e+02
           AAPL     2.916000e+01  2.923750e+01  2.926500e+01  2.907250e+01
           AMZN     7.660000e+02  7.712200e+02  7.706000e+02  7.663400e+02
           YHOO              NaN           NaN           NaN           NaN
High       MSFT     6.377000e+01  6.380000e+01  6.370000e+01  6.410000e+01
           GOOG     7.976600e+02  7.986500e+02  7.966760e+02  7.933200e+02
           AAPL     2.934500e+01  2.937500e+01  2.935000e+01  2.912750e+01
           AMZN     7.705000e+02  7.743900e+02  7.712200e+02  7.712100e+02
           YHOO              NaN           NaN           NaN           NaN
Low        MSFT     6.242000e+01  6.303000e+01  6.312000e+01  6.341000e+01
           GOOG     7.862700e+02  7.932700e+02  7.871000e+02  7.885800e+02
           AAPL     2.893750e+01  2.917000e+01  2.919500e+01  2.891000e+01
           AMZN     7.561600e+02  7.677100e+02  7.657000e+02  7.630200e+02
           YHOO              NaN           NaN           NaN           NaN
Open       MSFT     6.256000e+01  6.369000e+01  6.343000e+01  6.384000e+01
           GOOG     7.902200e+02  7.967600e+02  7.958400e+02  7.923600e+02
           AAPL     2.895000e+01  2.918500e+01  2.920000e+01  2.908750e+01
           AMZN     7.588900e+02  7.686500e+02  7.700000e+02  7.681200e+02
           YHOO              NaN           NaN           NaN           NaN
Volume     MSFT     3.433820e+07  2.602840e+07  1.709630e+07  2.217660e+07
           GOOG     1.232100e+06  9.510000e+05  1.211300e+06  9.722000e+05
           AAPL     1.111176e+08  8.570000e+07  9.513280e+07  1.043436e+08
           AMZN     3.113200e+06  2.703600e+06  2.044600e+06  2.543600e+06
           YHOO              NaN           NaN           NaN           NaN

Date                  2016-12-23    2016-12-27    2016-12-28    2016-12-29  \
Attributes Symbols
Adj Close  MSFT     5.901952e+01  5.905684e+01  5.878620e+01  5.870221e+01
           GOOG     7.899100e+02  7.915500e+02  7.850500e+02  7.827900e+02
           AAPL     2.745956e+01  2.763395e+01  2.751612e+01  2.750905e+01
           AMZN     7.605900e+02  7.714000e+02  7.721300e+02  7.651500e+02
           YHOO              NaN           NaN           NaN           NaN
Close      MSFT     6.324000e+01  6.328000e+01  6.299000e+01  6.290000e+01
           GOOG     7.899100e+02  7.915500e+02  7.850500e+02  7.827900e+02
           AAPL     2.913000e+01  2.931500e+01  2.919000e+01  2.918250e+01
           AMZN     7.605900e+02  7.714000e+02  7.721300e+02  7.651500e+02
           YHOO              NaN           NaN           NaN           NaN
High       MSFT     6.354000e+01  6.407000e+01  6.340000e+01  6.320000e+01
           GOOG     7.927400e+02  7.978600e+02  7.942300e+02  7.859300e+02
           AAPL     2.913000e+01  2.945000e+01  2.950500e+01  2.927750e+01
           AMZN     7.665000e+02  7.746500e+02  7.800000e+02  7.734000e+02
           YHOO              NaN           NaN           NaN           NaN
Low        MSFT     6.280000e+01  6.321000e+01  6.283000e+01  6.273000e+01
           GOOG     7.872800e+02  7.876570e+02  7.832000e+02  7.789200e+02
           AAPL     2.889750e+01  2.912250e+01  2.905000e+01  2.910000e+01
           AMZN     7.579900e+02  7.612000e+02  7.705000e+02  7.608500e+02
           YHOO              NaN           NaN           NaN           NaN
Open       MSFT     6.345000e+01  6.321000e+01  6.340000e+01  6.286000e+01
           GOOG     7.909000e+02  7.906800e+02  7.937000e+02  7.833300e+02
           AAPL     2.889750e+01  2.913000e+01  2.938000e+01  2.911250e+01
           AMZN     7.645500e+02  7.634000e+02  7.762500e+02  7.724000e+02
           YHOO              NaN           NaN           NaN           NaN
Volume     MSFT     1.240380e+07  1.176320e+07  1.465330e+07  1.025060e+07
           GOOG     6.234000e+05  7.891000e+05  1.153800e+06  7.443000e+05
           AAPL     5.699800e+07  7.318760e+07  8.362360e+07  6.015800e+07
           AMZN     1.981600e+06  2.638700e+06  3.301000e+06  3.158300e+06
           YHOO              NaN           NaN           NaN           NaN

Date                  2016-12-30
Attributes Symbols
Adj Close  MSFT     5.799292e+01
           GOOG     7.718200e+02
           AAPL     2.729459e+01
           AMZN     7.498700e+02
           YHOO              NaN
Close      MSFT     6.214000e+01
           GOOG     7.718200e+02
           AAPL     2.895500e+01
           AMZN     7.498700e+02
           YHOO              NaN
High       MSFT     6.299000e+01
           GOOG     7.827800e+02
           AAPL     2.930000e+01
           AMZN     7.674000e+02
           YHOO              NaN
Low        MSFT     6.203000e+01
           GOOG     7.704100e+02
           AAPL     2.885750e+01
           AMZN     7.482800e+02
           YHOO              NaN
Open       MSFT     6.296000e+01
           GOOG     7.827500e+02
           AAPL     2.916250e+01
           AMZN     7.664700e+02
           YHOO              NaN
Volume     MSFT     2.557990e+07
           GOOG     1.770000e+06
           AAPL     1.223452e+08
           AMZN     4.139400e+06
           YHOO              NaN

[30 rows x 1762 columns]

In [86]:
p2.loc[('Close', 'GOOG')][:]

Date
2010-01-04    312.204773
2010-01-05    310.829926
2010-01-06    302.994293
2010-01-07    295.940735
2010-01-08    299.885956
                 ...
2016-12-23    789.909973
2016-12-27    791.549988
2016-12-28    785.049988
2016-12-29    782.789978
2016-12-30    771.820007
Name: (Close, GOOG), Length: 1762, dtype: float64

In [109]:
p2.loc[[('Close', 'GOOG'), ('Open', 'GOOG')]][:]

,Date,2010-01-04,2010-01-05,2010-01-06,2010-01-07,2010-01-08,2010-01-11,2010-01-12,2010-01-13,2010-01-14,2010-01-15,...,2016-12-16,2016-12-19,2016-12-20,2016-12-21,2016-12-22,2016-12-23,2016-12-27,2016-12-28,2016-12-29,2016-12-30
Attributes,Symbols,,,,,,,,,,,,,,,,,,,,,
Close,GOOG,312.204773,310.829926,302.994293,295.940735,299.885956,299.432648,294.137512,292.448822,293.823669,288.917053,...,790.799988,794.200012,796.419983,794.559998,791.260010,789.909973,791.549988,785.049988,782.789978,771.820007
Open,GOOG,312.304413,312.418976,311.761444,303.562164,294.894653,301.101410,297.709106,287.168610,290.859772,295.562164,...,800.400024,790.219971,796.760010,795.840027,792.359985,790.900024,790.679993,793.700012,783.330017,782.750000

In [121]:
p2.loc[(slice(None), 'GOOG'), :]

,Date,2010-01-04,2010-01-05,2010-01-06,2010-01-07,2010-01-08,2010-01-11,2010-01-12,2010-01-13,2010-01-14,2010-01-15,...,2016-12-16,2016-12-19,2016-12-20,2016-12-21,2016-12-22,2016-12-23,2016-12-27,2016-12-28,2016-12-29,2016-12-30
Attributes,Symbols,,,,,,,,,,,,,,,,,,,,,
Adj Close,GOOG,3.122048e+02,3.108299e+02,3.029943e+02,2.959407e+02,2.998860e+02,2.994326e+02,2.941375e+02,2.924488e+02,2.938237e+02,2.889171e+02,...,7.908000e+02,7.942000e+02,796.419983,7.945600e+02,791.260010,789.909973,791.549988,7.850500e+02,782.789978,7.718200e+02
Close,GOOG,3.122048e+02,3.108299e+02,3.029943e+02,2.959407e+02,2.998860e+02,2.994326e+02,2.941375e+02,2.924488e+02,2.938237e+02,2.889171e+02,...,7.908000e+02,7.942000e+02,796.419983,7.945600e+02,791.260010,789.909973,791.549988,7.850500e+02,782.789978,7.718200e+02
High,GOOG,3.135796e+02,3.127477e+02,3.117614e+02,3.038611e+02,3.004987e+02,3.011014e+02,2.979632e+02,2.930914e+02,2.959906e+02,2.956718e+02,...,8.008560e+02,7.976600e+02,798.650024,7.966760e+02,793.320007,792.739990,797.859985,7.942300e+02,785.929993,7.827800e+02
Low,GOOG,3.109545e+02,3.096095e+02,3.020479e+02,2.952184e+02,2.934550e+02,2.959109e+02,2.929021e+02,2.858784e+02,2.903168e+02,2.879407e+02,...,7.902900e+02,7.862700e+02,793.270020,7.871000e+02,788.580017,787.280029,787.656982,7.832000e+02,778.919983,7.704100e+02
Open,GOOG,3.123044e+02,3.124190e+02,3.117614e+02,3.035622e+02,2.948947e+02,3.011014e+02,2.977091e+02,2.871686e+02,2.908598e+02,2.955622e+02,...,8.004000e+02,7.902200e+02,796.760010,7.958400e+02,792.359985,790.900024,790.679993,7.937000e+02,783.330017,7.827500e+02
Volume,GOOG,3.927065e+06,6.031925e+06,7.987226e+06,1.287668e+07,9.484016e+06,1.447987e+07,9.742983e+06,1.304190e+07,8.511986e+06,1.090974e+07,...,2.443800e+06,1.232100e+06,951000.000000,1.211300e+06,972200.000000,623400.000000,789100.000000,1.153800e+06,744300.000000,1.770000e+06

In [123]:
p.loc[:, (slice(None), 'GOOG')]

Attributes,Adj Close,Close,High,Low,Open,Volume
Symbols,GOOG,GOOG,GOOG,GOOG,GOOG,GOOG
Date,,,,,,
2010-01-04,312.204773,312.204773,313.579620,310.954468,312.304413,3927065.0
2010-01-05,310.829926,310.829926,312.747742,309.609497,312.418976,6031925.0
2010-01-06,302.994293,302.994293,311.761444,302.047852,311.761444,7987226.0
2010-01-07,295.940735,295.940735,303.861053,295.218445,303.562164,12876685.0
2010-01-08,299.885956,299.885956,300.498657,293.455048,294.894653,9484016.0
...,...,...,...,...,...,...
2016-12-23,789.909973,789.909973,792.739990,787.280029,790.900024,623400.0
2016-12-27,791.549988,791.549988,797.859985,787.656982,790.679993,789100.0
2016-12-28,785.049988,785.049988,794.229980,783.200012,793.700012,1153800.0
2016-12-29,782.789978,782.789978,785.929993,778.919983,783.330017,744300.0
2016-12-30,771.820007,771.820007,782.780029,770.409973,782.750000,1770000.0

In [94]:
p2.axes[0].names

FrozenList(['Attributes', 'Symbols'])

In [97]:
p2.axes[0].get_level_values(0), p2.axes[0].get_level_values(1)

(Index(['Adj Close', 'Adj Close', 'Adj Close', 'Adj Close', 'Adj Close',
        'Close', 'Close', 'Close', 'Close', 'Close', 'High', 'High', 'High',
        'High', 'High', 'Low', 'Low', 'Low', 'Low', 'Low', 'Open', 'Open',
        'Open', 'Open', 'Open', 'Volume', 'Volume', 'Volume', 'Volume',
        'Volume'],
       dtype='object', name='Attributes'),
 Index(['MSFT', 'GOOG', 'AAPL', 'AMZN', 'YHOO', 'MSFT', 'GOOG', 'AAPL', 'AMZN',
        'YHOO', 'MSFT', 'GOOG', 'AAPL', 'AMZN', 'YHOO', 'MSFT', 'GOOG', 'AAPL',
        'AMZN', 'YHOO', 'MSFT', 'GOOG', 'AAPL', 'AMZN', 'YHOO', 'MSFT', 'GOOG',
        'AAPL', 'AMZN', 'YHOO'],
       dtype='object', name='Symbols'))

In [106]:
p.columns.levels

FrozenList([['Adj Close', 'Close', 'High', 'Low', 'Open', 'Volume'], ['MSFT', 'GOOG', 'AAPL', 'AMZN', 'YHOO']])

## The `.swapaxes()` Method

In [124]:
companies = ["MSFT", "GOOG", "AAPL", "YHOO", "AMZN"]

p = data.DataReader(name = companies, data_source = "yahoo", start = "2010-01-01", end = "2016-12-31")

p

C:\Users\Admin\anaconda3\envs\base_ml\lib\site-packages\pandas_datareader\base.py:272: SymbolWarning: Failed to read symbol: 'YHOO', replacing with NaN.
  warnings.warn(msg.format(sym), SymbolWarning)

Attributes  Adj Close                                              Close  \
Symbols          MSFT        GOOG       AAPL        AMZN YHOO       MSFT
Date
2010-01-04  23.994564  312.204773   6.562591  133.899994  NaN  30.950001
2010-01-05  24.002319  310.829926   6.573935  134.690002  NaN  30.959999
2010-01-06  23.855013  302.994293   6.469369  132.250000  NaN  30.770000
2010-01-07  23.606922  295.940735   6.457407  130.000000  NaN  30.450001
2010-01-08  23.769743  299.885956   6.500339  133.520004  NaN  30.660000
...               ...         ...        ...         ...  ...        ...
2016-12-23  59.019516  789.909973  27.459557  760.590027  NaN  63.240002
2016-12-27  59.056839  791.549988  27.633949  771.400024  NaN  63.279999
2016-12-28  58.786201  785.049988  27.516117  772.130005  NaN  62.990002
2016-12-29  58.702206  782.789978  27.509048  765.150024  NaN  62.900002
2016-12-30  57.992920  771.820007  27.294590  749.869995  NaN  62.139999

Attributes                                          ...       Open  \
Symbols           GOOG       AAPL        AMZN YHOO  ...       MSFT
Date                                                ...
2010-01-04  312.204773   7.643214  133.899994  NaN  ...  30.620001
2010-01-05  310.829926   7.656429  134.690002  NaN  ...  30.850000
2010-01-06  302.994293   7.534643  132.250000  NaN  ...  30.879999
2010-01-07  295.940735   7.520714  130.000000  NaN  ...  30.629999
2010-01-08  299.885956   7.570714  133.520004  NaN  ...  30.280001
...                ...        ...         ...  ...  ...        ...
2016-12-23  789.909973  29.129999  760.590027  NaN  ...  63.450001
2016-12-27  791.549988  29.315001  771.400024  NaN  ...  63.209999
2016-12-28  785.049988  29.190001  772.130005  NaN  ...  63.400002
2016-12-29  782.789978  29.182501  765.150024  NaN  ...  62.860001
2016-12-30  771.820007  28.955000  749.869995  NaN  ...  62.959999

Attributes                                              Volume              \
Symbols           GOOG       AAPL        AMZN YHOO        MSFT        GOOG
Date
2010-01-04  312.304413   7.622500  136.250000  NaN  38409100.0   3927065.0
2010-01-05  312.418976   7.664286  133.429993  NaN  49749600.0   6031925.0
2010-01-06  311.761444   7.656429  134.600006  NaN  58182400.0   7987226.0
2010-01-07  303.562164   7.562500  132.009995  NaN  50559700.0  12876685.0
2010-01-08  294.894653   7.510714  130.559998  NaN  51197400.0   9484016.0
...                ...        ...         ...  ...         ...         ...
2016-12-23  790.900024  28.897499  764.549988  NaN  12403800.0    623400.0
2016-12-27  790.679993  29.129999  763.400024  NaN  11763200.0    789100.0
2016-12-28  793.700012  29.379999  776.250000  NaN  14653300.0   1153800.0
2016-12-29  783.330017  29.112499  772.400024  NaN  10250600.0    744300.0
2016-12-30  782.750000  29.162500  766.469971  NaN  25579900.0   1770000.0

Attributes
Symbols            AAPL        AMZN YHOO
Date
2010-01-04  493729600.0   7599900.0  NaN
2010-01-05  601904800.0   8851900.0  NaN
2010-01-06  552160000.0   7178800.0  NaN
2010-01-07  477131200.0  11030200.0  NaN
2010-01-08  447610800.0   9830500.0  NaN
...                 ...         ...  ...
2016-12-23   56998000.0   1981600.0  NaN
2016-12-27   73187600.0   2638700.0  NaN
2016-12-28   83623600.0   3301000.0  NaN
2016-12-29   60158000.0   3158300.0  NaN
2016-12-30  122345200.0   4139400.0  NaN

[1762 rows x 30 columns]

In [133]:
p.swaplevel(0,1, axis=1).head()

Symbols,MSFT,GOOG,AAPL,AMZN,YHOO,MSFT,GOOG,AAPL,AMZN,YHOO,...,MSFT,GOOG,AAPL,AMZN,YHOO,MSFT,GOOG,AAPL,AMZN,YHOO
Attributes,Adj Close,Adj Close,Adj Close,Adj Close,Adj Close,Close,Close,Close,Close,Close,...,Open,Open,Open,Open,Open,Volume,Volume,Volume,Volume,Volume
Date,,,,,,,,,,,,,,,,,,,,,
2010-01-04,23.994564,312.204773,6.562591,133.899994,NaN,30.950001,312.204773,7.643214,133.899994,NaN,...,30.620001,312.304413,7.622500,136.250000,NaN,38409100.0,3927065.0,493729600.0,7599900.0,NaN
2010-01-05,24.002319,310.829926,6.573935,134.690002,NaN,30.959999,310.829926,7.656429,134.690002,NaN,...,30.850000,312.418976,7.664286,133.429993,NaN,49749600.0,6031925.0,601904800.0,8851900.0,NaN
2010-01-06,23.855013,302.994293,6.469369,132.250000,NaN,30.770000,302.994293,7.534643,132.250000,NaN,...,30.879999,311.761444,7.656429,134.600006,NaN,58182400.0,7987226.0,552160000.0,7178800.0,NaN
2010-01-07,23.606922,295.940735,6.457407,130.000000,NaN,30.450001,295.940735,7.520714,130.000000,NaN,...,30.629999,303.562164,7.562500,132.009995,NaN,50559700.0,12876685.0,477131200.0,11030200.0,NaN
2010-01-08,23.769743,299.885956,6.500339,133.520004,NaN,30.660000,299.885956,7.570714,133.520004,NaN,...,30.280001,294.894653,7.510714,130.559998,NaN,51197400.0,9484016.0,447610800.0,9830500.0,NaN

In [134]:
p.T.swaplevel(0,1, axis = 0).head()

,Date,2010-01-04,2010-01-05,2010-01-06,2010-01-07,2010-01-08,2010-01-11,2010-01-12,2010-01-13,2010-01-14,2010-01-15,...,2016-12-16,2016-12-19,2016-12-20,2016-12-21,2016-12-22,2016-12-23,2016-12-27,2016-12-28,2016-12-29,2016-12-30
Symbols,Attributes,,,,,,,,,,,,,,,,,,,,,
MSFT,Adj Close,23.994564,24.002319,23.855013,23.606922,23.769743,23.467388,23.312330,23.529409,24.002319,23.924789,...,58.142242,59.374153,59.299496,59.299496,59.308842,59.019516,59.056839,58.786201,58.702206,57.992920
GOOG,Adj Close,312.204773,310.829926,302.994293,295.940735,299.885956,299.432648,294.137512,292.448822,293.823669,288.917053,...,790.799988,794.200012,796.419983,794.559998,791.260010,789.909973,791.549988,785.049988,782.789978,771.820007
AAPL,Adj Close,6.562591,6.573935,6.469369,6.457407,6.500339,6.442997,6.369709,6.459555,6.422143,6.314816,...,27.329943,27.487835,27.560892,27.586819,27.405354,27.459557,27.633949,27.516117,27.509048,27.294590
AMZN,Adj Close,133.899994,134.690002,132.250000,130.000000,133.520004,130.309998,127.349998,129.110001,127.349998,127.139999,...,757.770020,766.000000,771.219971,770.599976,766.340027,760.590027,771.400024,772.130005,765.150024,749.869995
YHOO,Adj Close,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [141]:
p.reorder_levels([1,0], axis = 1).head()

Symbols,MSFT,GOOG,AAPL,AMZN,YHOO,MSFT,GOOG,AAPL,AMZN,YHOO,...,MSFT,GOOG,AAPL,AMZN,YHOO,MSFT,GOOG,AAPL,AMZN,YHOO
Attributes,Adj Close,Adj Close,Adj Close,Adj Close,Adj Close,Close,Close,Close,Close,Close,...,Open,Open,Open,Open,Open,Volume,Volume,Volume,Volume,Volume
Date,,,,,,,,,,,,,,,,,,,,,
2010-01-04,23.994564,312.204773,6.562591,133.899994,NaN,30.950001,312.204773,7.643214,133.899994,NaN,...,30.620001,312.304413,7.622500,136.250000,NaN,38409100.0,3927065.0,493729600.0,7599900.0,NaN
2010-01-05,24.002319,310.829926,6.573935,134.690002,NaN,30.959999,310.829926,7.656429,134.690002,NaN,...,30.850000,312.418976,7.664286,133.429993,NaN,49749600.0,6031925.0,601904800.0,8851900.0,NaN
2010-01-06,23.855013,302.994293,6.469369,132.250000,NaN,30.770000,302.994293,7.534643,132.250000,NaN,...,30.879999,311.761444,7.656429,134.600006,NaN,58182400.0,7987226.0,552160000.0,7178800.0,NaN
2010-01-07,23.606922,295.940735,6.457407,130.000000,NaN,30.450001,295.940735,7.520714,130.000000,NaN,...,30.629999,303.562164,7.562500,132.009995,NaN,50559700.0,12876685.0,477131200.0,11030200.0,NaN
2010-01-08,23.769743,299.885956,6.500339,133.520004,NaN,30.660000,299.885956,7.570714,133.520004,NaN,...,30.280001,294.894653,7.510714,130.559998,NaN,51197400.0,9484016.0,447610800.0,9830500.0,NaN

In [145]:
p.rename(columns = {'Adj Close': 'New name'}).head()

Attributes   New name                                             Close  \
Symbols          MSFT        GOOG      AAPL        AMZN YHOO       MSFT
Date
2010-01-04  23.994564  312.204773  6.562591  133.899994  NaN  30.950001
2010-01-05  24.002319  310.829926  6.573935  134.690002  NaN  30.959999
2010-01-06  23.855013  302.994293  6.469369  132.250000  NaN  30.770000
2010-01-07  23.606922  295.940735  6.457407  130.000000  NaN  30.450001
2010-01-08  23.769743  299.885956  6.500339  133.520004  NaN  30.660000

Attributes                                         ...       Open              \
Symbols           GOOG      AAPL        AMZN YHOO  ...       MSFT        GOOG
Date                                               ...
2010-01-04  312.204773  7.643214  133.899994  NaN  ...  30.620001  312.304413
2010-01-05  310.829926  7.656429  134.690002  NaN  ...  30.850000  312.418976
2010-01-06  302.994293  7.534643  132.250000  NaN  ...  30.879999  311.761444
2010-01-07  295.940735  7.520714  130.000000  NaN  ...  30.629999  303.562164
2010-01-08  299.885956  7.570714  133.520004  NaN  ...  30.280001  294.894653

Attributes                                 Volume                           \
Symbols         AAPL        AMZN YHOO        MSFT        GOOG         AAPL
Date
2010-01-04  7.622500  136.250000  NaN  38409100.0   3927065.0  493729600.0
2010-01-05  7.664286  133.429993  NaN  49749600.0   6031925.0  601904800.0
2010-01-06  7.656429  134.600006  NaN  58182400.0   7987226.0  552160000.0
2010-01-07  7.562500  132.009995  NaN  50559700.0  12876685.0  477131200.0
2010-01-08  7.510714  130.559998  NaN  51197400.0   9484016.0  447610800.0

Attributes
Symbols           AMZN YHOO
Date
2010-01-04   7599900.0  NaN
2010-01-05   8851900.0  NaN
2010-01-06   7178800.0  NaN
2010-01-07  11030200.0  NaN
2010-01-08   9830500.0  NaN

[5 rows x 30 columns]

In [153]:
p.T.rename(index = {'Adj Close': 'New name', 'GOOG': 'google', 'AAPL': 'apple'}).head()

Date                2010-01-04  2010-01-05  2010-01-06  2010-01-07  \
Attributes Symbols
New name   MSFT      23.994564   24.002319   23.855013   23.606922
           google   312.204773  310.829926  302.994293  295.940735
           apple      6.562591    6.573935    6.469369    6.457407
           AMZN     133.899994  134.690002  132.250000  130.000000
           YHOO            NaN         NaN         NaN         NaN

Date                2010-01-08  2010-01-11  2010-01-12  2010-01-13  \
Attributes Symbols
New name   MSFT      23.769743   23.467388   23.312330   23.529409
           google   299.885956  299.432648  294.137512  292.448822
           apple      6.500339    6.442997    6.369709    6.459555
           AMZN     133.520004  130.309998  127.349998  129.110001
           YHOO            NaN         NaN         NaN         NaN

Date                2010-01-14  2010-01-15  ...  2016-12-16  2016-12-19  \
Attributes Symbols                          ...
New name   MSFT      24.002319   23.924789  ...   58.142242   59.374153
           google   293.823669  288.917053  ...  790.799988  794.200012
           apple      6.422143    6.314816  ...   27.329943   27.487835
           AMZN     127.349998  127.139999  ...  757.770020  766.000000
           YHOO            NaN         NaN  ...         NaN         NaN

Date                2016-12-20  2016-12-21  2016-12-22  2016-12-23  \
Attributes Symbols
New name   MSFT      59.299496   59.299496   59.308842   59.019516
           google   796.419983  794.559998  791.260010  789.909973
           apple     27.560892   27.586819   27.405354   27.459557
           AMZN     771.219971  770.599976  766.340027  760.590027
           YHOO            NaN         NaN         NaN         NaN

Date                2016-12-27  2016-12-28  2016-12-29  2016-12-30
Attributes Symbols
New name   MSFT      59.056839   58.786201   58.702206   57.992920
           google   791.549988  785.049988  782.789978  771.820007
           apple     27.633949   27.516117   27.509048   27.294590
           AMZN     771.400024  772.130005  765.150024  749.869995
           YHOO            NaN         NaN         NaN         NaN

[5 rows x 1762 columns]

In [159]:
p.T.head(10).sort_index(level=[1,0])

,Date,2010-01-04,2010-01-05,2010-01-06,2010-01-07,2010-01-08,2010-01-11,2010-01-12,2010-01-13,2010-01-14,2010-01-15,...,2016-12-16,2016-12-19,2016-12-20,2016-12-21,2016-12-22,2016-12-23,2016-12-27,2016-12-28,2016-12-29,2016-12-30
Attributes,Symbols,,,,,,,,,,,,,,,,,,,,,
Adj Close,AAPL,6.562591,6.573935,6.469369,6.457407,6.500339,6.442997,6.369709,6.459555,6.422143,6.314816,...,27.329943,27.487835,27.560892,27.586819,27.405354,27.459557,27.633949,27.516117,27.509048,27.294590
Close,AAPL,7.643214,7.656429,7.534643,7.520714,7.570714,7.503929,7.418571,7.523214,7.479643,7.354643,...,28.992500,29.160000,29.237499,29.264999,29.072500,29.129999,29.315001,29.190001,29.182501,28.955000
Adj Close,AMZN,133.899994,134.690002,132.250000,130.000000,133.520004,130.309998,127.349998,129.110001,127.349998,127.139999,...,757.770020,766.000000,771.219971,770.599976,766.340027,760.590027,771.400024,772.130005,765.150024,749.869995
Close,AMZN,133.899994,134.690002,132.250000,130.000000,133.520004,130.309998,127.349998,129.110001,127.349998,127.139999,...,757.770020,766.000000,771.219971,770.599976,766.340027,760.590027,771.400024,772.130005,765.150024,749.869995
Adj Close,GOOG,312.204773,310.829926,302.994293,295.940735,299.885956,299.432648,294.137512,292.448822,293.823669,288.917053,...,790.799988,794.200012,796.419983,794.559998,791.260010,789.909973,791.549988,785.049988,782.789978,771.820007
Close,GOOG,312.204773,310.829926,302.994293,295.940735,299.885956,299.432648,294.137512,292.448822,293.823669,288.917053,...,790.799988,794.200012,796.419983,794.559998,791.260010,789.909973,791.549988,785.049988,782.789978,771.820007
Adj Close,MSFT,23.994564,24.002319,23.855013,23.606922,23.769743,23.467388,23.312330,23.529409,24.002319,23.924789,...,58.142242,59.374153,59.299496,59.299496,59.308842,59.019516,59.056839,58.786201,58.702206,57.992920
Close,MSFT,30.950001,30.959999,30.770000,30.450001,30.660000,30.270000,30.070000,30.350000,30.959999,30.860001,...,62.299999,63.619999,63.540001,63.540001,63.549999,63.240002,63.279999,62.990002,62.900002,62.139999
Adj Close,YHOO,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Close,YHOO,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN